<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pt.up.fe.cmov"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    
    

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ScheduleActivity"
                  android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Cmov1_doctorActivity"> </activity>
        <activity android:name=".DoctorActivity" android:theme="@android:style/Theme.Light.NoTitleBar"> </activity>
        <activity android:name=".ListAppointmentActivity" android:theme="@android:style/Theme.Light.NoTitleBar"> </activity>
        <activity android:name=".PatientViewActivity" android:theme="@android:style/Theme.Light.NoTitleBar"> </activity>
        <activity android:name=".PatientRegisterActivity" android:theme="@android:style/Theme.Light.NoTitleBar"> </activity>
        <activity android:name=".PatientActivity" android:theme="@android:style/Theme.Light.NoTitleBar"> </activity>
        <activity android:name=".DoctorViewActivity" android:theme="@android:style/Theme.Light.NoTitleBar"> </activity>
        <activity android:name=".MakeNewAppointmentActivity" android:theme="@android:style/Theme.Light.NoTitleBar"> </activity>
        
        
        <provider android:name=".providers.DoctorContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.doctorcontentprovider" />   
   		<provider android:name=".providers.PatientContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.patientcontentprovider" />   
        <provider android:name=".providers.SpecialityContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.specialitycontentprovider" />       
        <provider android:name=".providers.SystemContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.systemcontentprovider" />          
        <provider android:name=".providers.DoctorContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.doctorcontentprovider" />          
        <provider android:name=".providers.SchedulePlanContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.scheduleplancontentprovider" />       
        <provider android:name=".providers.ScheduleContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.schedulecontentprovider" />        
        <provider android:name=".providers.AppointmentContentProvider"
         android:authorities="pt.up.fe.cmov.common.providers.appointmentcontentprovider" />   
    </application>
    <uses-permission android:name="android.permission.INTERNET">
	</uses-permission>
    
</manifest>